#header {
  height: auto;
  width: auto;

  display: grid;
  align-items: center;
  justify-content: center;
}

#main {
  height: auto;
  width: auto;

  display: grid;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #6b6b6b;

  padding-top: 5%;
  padding-bottom: 5%;
  margin: 5px;

  border-radius: 5px;

  text-align: center;
  color: white;
  font-family: arial;
  font-weight: 100;
  font-size: 20px;
}

.button:hover {
  transform: scale(1.05);
  background-color: #b0b0b0;
}

.container {
  display: grid;
  align-items: center;
  justify-content: center;
}

#buttons-container {
  height: 10vh;
  width: 100vh;

  display: grid;
  align-items: center;
  justify-content: center;

  grid-template-columns: 1fr 1fr;
  grid-template-areas: "btn1 btn2";
}

/* DONT TOUCH ABOVE CODE */

#resize {
  grid-area: btn1;
}

#reset {
  grid-area: btn2;
}

#grid-container {
  background-color: lightblue;
  height: 90vh;
  width: 90vh;

  border: 1px solid black;

  display: grid;
  align-items: center;
  justify-content: center;
}

.grid-div {
  height: 100%;
  width: 100%;
  background-color: white;
}

.grid-div:hover {
  background-color: black;
}

.active-grid-div {
  background-color: black;
}
